In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# 1
this is the first process of preprocessing the dataset where we can select out the important cols we want and merge dataset based on ID, lat, lon, station.

In [9]:
df1 = pd.read_csv('data/Musquash_MPA_Benthos_Infauna.csv', encoding='latin1')
df2 = pd.read_csv('data/Musquash_MPA_Sediment_Grain_Size.csv', encoding='latin1')
df3 = pd.read_csv('data/Musquash_MPA_Sediment_Loss_Ignition.csv', encoding='latin1')
df4 = pd.read_csv('data/Musquash_MPA_Set_Data.csv', encoding='latin1')

In [10]:
print(df1.columns)
print(df2.columns)
print(df3.columns)

Index(['set_id', 'lat', 'lon', 'station', 'strata_strate', 'day_jour',
       'month_mois', 'year_année', 'season_saison',
       'scientificName_Nom_scientifique',
       'scientificNameID_Identifiant_du_nom_scientifique', 'total_count',
       'tot_wt_g'],
      dtype='object')
Index(['set_id', 'lat', 'lon', 'day_jour', 'month_mois', 'year_année',
       'station', 'replicate_réplicat', 'cont_wt_g', 'gross_wet_wt_g',
       'gross_dry_wt_g', 'net_dry_wt_g', 'sieve_wt_250um_g',
       'sieve_wt_125um_g', 'sieve_wt_64um_g', 'gross_wt_250um_g',
       'gross_wt_125um_g', 'gross_wt_64um_g', 'net_dry_250um_g',
       'net_dry_125um_g', 'net_dry_64um_g', 'silt_frac_g'],
      dtype='object')
Index(['set_id', 'lat', 'lon', 'day_jour', 'month_mois', 'year_année',
       'station', 'replicate_réplicat', 'cont_g', 'air_cont_g', 'oven_cont_g',
       'net_dry_wt_g', 'ash_1_g', 'ash_2_g', 'perc_loss_ash_1__',
       'perc_loss_ash_2__', 'tot_perc_loss__', 'comments'],
      dtype='object')

In [11]:
# Define data types for columns in each dataset

# df1: Benthic Infauna Data
dtype_df1 = {
    'set_id': 'str',
    'lat': 'float64',
    'lon': 'float64',
    'station': 'int64',
    # 'strata_strate': 'str',
    # 'day_jour': 'int64',
    # 'month_mois': 'int64',
    # 'year_annee': 'int64',
    # 'season_saison': 'str',
    'scientificName_Nom_scientifique': 'str',
    # 'scientificNameID_Identifiant_du_nom_scientifique': 'str',
    'total_count': 'int64',
    'tot_wt_g': 'float64'
}

# df2: Sediment Composition Data
dtype_df2 = {
    'set_id': 'str',
    'lat': 'float64',
    'lon': 'float64',
    'station': 'int64',
    # 'day_jour': 'int64',
    # 'month_mois': 'int64',
    # 'year_annee': 'int64',
    'cont_wt_g': 'float64',
    'gross_wet_wt_g': 'float64',
    'sieve_wt_250um_g': 'float64',
    'sieve_wt_125um_g': 'float64',
    'sieve_wt_64um_g': 'float64',
    'gross_wt_250um_g': 'float64',
    'gross_wt_125um_g': 'float64',
    'gross_wt_64um_g': 'float64',
    'net_dry_250um_g': 'float64',
    'net_dry_125um_g': 'float64',
    'net_dry_64um_g': 'float64',
    'silt_frac_g': 'float64'
}

# df3: Sediment Organic Matter Data
dtype_df3 = {
    'set_id': 'str',
    'lat': 'float64',
    'lon': 'float64',
    'station': 'int64',
    # 'day_jour': 'int64',
    # 'month_mois': 'int64',
    # 'year_annee': 'int64',
    'cont_g': 'float64',
    'air_cont_g': 'float64',
    'oven_cont_g': 'float64',
    'net_dry_wt_g': 'float64',
    'ash_1_g': 'float64',
    'ash_2_g': 'float64',
    'perc_loss_ash_1__': 'float64',
    'perc_loss_ash_2__': 'float64',
    'tot_perc_loss__': 'float64'
}

In [12]:
# Merge df1 (benthic infauna) with df2 (sediment composition) on multiple keys
df1_df2_merged = df1.merge(df2, on=['set_id', 'lat', 'lon', 'station'], how='inner')

# Optional: Merge with df4 (biomass data) if needed
df_all_merged = df1_df2_merged.merge(df3, on=['set_id', 'lat', 'lon', 'station'], how='inner')

In [13]:
# Remove the 'replicate_réplicat' column and average other columns where conditions match
df2_avg = df2.drop(columns=['replicate_réplicat']).groupby(['set_id', 'lat', 'lon', 'station']).mean().reset_index()
# Remove the 'replicate_réplicat' column and average other columns where conditions match
df3_avg = df3.drop(columns=['replicate_réplicat']).groupby(['set_id', 'lat', 'lon', 'station']).mean(numeric_only=True).reset_index()
df3_avg

,set_id,lat,lon,station,day_jour,month_mois,year_année,cont_g,air_cont_g,oven_cont_g,net_dry_wt_g,ash_1_g,ash_2_g,perc_loss_ash_1__,perc_loss_ash_2__,tot_perc_loss__
0,2011.09.001,45.140750,-66.260217,1,1.0,9.0,2011.0,13.433500,15.916750,15.915750,2.482250,15.840250,15.750000,3.035695,3.643986,6.679681
1,2011.09.002,45.142633,-66.261833,2,1.0,9.0,2011.0,9.929750,12.462500,12.458750,2.529000,12.413250,12.371500,1.798740,1.650992,3.449732
2,2011.09.003,45.146367,-66.248683,3,1.0,9.0,2011.0,10.666750,13.181250,13.182750,2.516000,13.135500,13.093750,1.877214,1.659687,3.536902
3,2011.09.004,45.146483,-66.246083,4,1.0,9.0,2011.0,8.068750,10.784250,10.783750,2.715000,10.735500,10.687750,1.788726,1.749803,3.538529
4,2011.09.005,45.146633,-66.243450,5,1.0,9.0,2011.0,11.439750,13.951750,13.952000,2.512250,13.933000,13.903250,0.757199,1.183464,1.940664
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,2021.09.026,45.175600,-66.241050,26,23.0,9.0,2021.0,12.922070,15.464530,15.466577,2.544507,15.376008,15.375645,3.559476,0.014363,3.573839
374,2021.09.027,45.178200,-66.242480,27,23.0,9.0,2021.0,7.685973,10.234227,10.230277,2.544305,10.160795,10.160000,2.730869,0.031351,2.762220
375,2021.09.028,45.180600,-66.244120,28,23.0,9.0,2021.0,15.744660,18.260095,18.255987,2.511328,18.176165,18.175337,3.178353,0.032957,3.211310
376,2021.09.029,45.182400,-66.245580,29,23.0,9.0,2021.0,13.019558,15.517563,15.507707,2.488150,15.449505,15.448638,2.339193,0.034765,2.373958
377,2021.09.030,45.183700,-66.248580,30,23.0,9.0,2021.0,11.168988,13.687842,13.684250,2.515263,13.615237,13.602450,2.745585,0.508449,3.254034

In [14]:
# Merge df1 (benthic infauna) with the averaged df2 and df3
df1_df2_merged = df1.merge(df2_avg, on=['set_id', 'lat', 'lon', 'station'], how='inner')
df_final_merged = df1_df2_merged.merge(df3_avg, on=['set_id', 'lat', 'lon', 'station'], how='inner')

# Save the final merged data to CSV
df_final_merged.to_csv('final_merged_data_no_replicates.csv', index=False)

In [16]:
print(f"Total rows after averaging and merging: {df_final_merged.shape[0]}")
df_final_merged.info()

Total rows after averaging and merging: 5468
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5468 entries, 0 to 5467
Data columns (total 42 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   set_id                                            5468 non-null   object
 1   lat                                               5468 non-null   float64
 2   lon                                               5468 non-null   float64
 3   station                                           5468 non-null   int64
 4   strata_strate                                     5468 non-null   object
 5   day_jour_x                                        5468 non-null   int64
 6   month_mois_x                                      5468 non-null   int64
 7   year_année_x                                      5468 non-null   int64
 8   season_saison                                     5468 non-null   object
 9   scientificName_Nom_scientifique                   5468 non-null   object
 10  scientificNameID_Identifiant_du_nom_scientifique  5468 non-null   object
 11  total_count                                       5468 non-null   float64
 12  tot_wt_g                                          5468 non-null   float64
 13  day_jour_y                                        5468 non-null   float64
 14  month_mois_y                                      5468 non-null   float64
 15  year_année_y                                      5468 non-null   float64
 16  cont_wt_g                                         5321 non-null   float64
 17  gross_wet_wt_g                                    5321 non-null   float64
 18  gross_dry_wt_g                                    5321 non-null   float64
 19  net_dry_wt_g_x                                    5321 non-null   float64
 20  sieve_wt_250um_g                                  5321 non-null   float64
 21  sieve_wt_125um_g                                  5321 non-null   float64
 22  sieve_wt_64um_g                                   5321 non-null   float64
 23  gross_wt_250um_g                                  5321 non-null   float64
 24  gross_wt_125um_g                                  5321 non-null   float64
 25  gross_wt_64um_g                                   5321 non-null   float64
 26  net_dry_250um_g                                   5321 non-null   float64
 27  net_dry_125um_g                                   5321 non-null   float64
 28  net_dry_64um_g                                    5321 non-null   float64
 29  silt_frac_g                                       5321 non-null   float64
 30  day_jour                                          5468 non-null   float64
 31  month_mois                                        5468 non-null   float64
 32  year_année                                        5468 non-null   float64
 33  cont_g                                            5444 non-null   float64
 34  air_cont_g                                        5444 non-null   float64
 35  oven_cont_g                                       5444 non-null   float64
 36  net_dry_wt_g_y                                    5444 non-null   float64
 37  ash_1_g                                           5444 non-null   float64
 38  ash_2_g                                           5444 non-null   float64
 39  perc_loss_ash_1__                                 5444 non-null   float64
 40  perc_loss_ash_2__                                 5444 non-null   float64
 41  tot_perc_loss__                                   5444 non-null   float64
dtypes: float64(33), int64(4), object(5)
memory usage: 1.8+ MB